.app-container {
    width: 400px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mt-10 {
    margin-top: 10px;
}

.letter {
    border: 1px solid gray;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    width: 34px;
    text-align: center;

}

.button {
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    width: 34px;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 4px;

}